{% extends './base.html' %}

{% block title %}
    detail
{% endblock %}

{% block header %}
    {% include './header.html' %}
{% endblock %}

{% block content %}
    <br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between border-bottom border-success pb-2 mb-2">
                <h5>{{ post.title }}</h5>
                <div class="text-bg-warning rounded-2 p-2 fs-6 text-white">{{ post.topic }}</div>
            </div>
            <div class="text-muted">{{ post.content }}</div>
        </div>
    </div>

    <br>
    <form class="row g-3" action="{% url 'posts:comment' post.id %}" method="post">
        {% csrf_token %}

        <div class="col-12">
            <textarea class="form-control" name="content" id="" cols="10" rows="2" placeholder="说点什么吧"></textarea>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Comment</button>
        </div>
    </form>

    <br>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <div>{{ comment.content }}</div>
                <small class="text-muted">{{ comment.date }}</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
